<div class="container" style="margin-top:20px">
  <script id="metamorph-1-start" type="text/x-placeholder"></script>
  <script id="metamorph-21-start" type="text/x-placeholder"></script>

  <div class="jumbotron">
      <small style="float:right"><i>version 2.0</i></small>
    <h1>tech-radar-builder</h1> 
    <p>This is a simple and flexible technology radar builder.</p>
    <p>Check the
      <a href="https://github.com/pszyller/tech-radar-builder">project page</a> on GitHub.</p>
    <div class="container text-center">
      <form class="form-signin" data-ember-action="2">
        <h2 class="form-signin-heading">Sign in to build and save your radars for FREE.</h2>

        <small class="text-muted">Choose your favourite social network</small>
        <br>
        <br>


        <!--<p> 
          <a class="btn btn-primary social-login-btn social-google" (click)="authByFacebook()"><i class="fa fa-facebook"></i></a> 
          <a class="btn btn-primary social-login-btn social-google" (click)="authByTwitter()"><i class="fa fa-twitter"></i></a> 
        </p>-->
        <p>
          <a class="btn btn-primary social-login-btn social-google" style="width: 60px" (click)="authByGitHub()">
            <i class="fa fa-github-alt" style="font-size:40px"></i>
          </a>
          <a class="btn btn-primary social-login-btn social-google" style="width: 60px" (click)='authByGoogle()'>
            <i class="fa fa-google-plus" style="font-size:40px"></i>
          </a>
          <a class="btn btn-primary social-login-btn social-google" style="width: 60px" (click)='authByFacebook()'>
              <i class="fa fa-facebook" style="font-size:40px"></i>
            </a>
        </p>
       



        <br>

        <!--<button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Just try...</button>-->
        <br>
        <div>
          <img style="width:50px; border-radius: 25px;" alt="Pawel Szyller" src="https://avatars0.githubusercontent.com/u/5746948?v=3&u=c2cdc4056c5c4977922e9b7b702383e65e8ab62b&s=200"
          />
        
        </div>
        <i>auhor: Pawel Szyller</i><div>
        <i><a href="https://www.facebook.com/techradarbuilder/" >facebook homepage</a></i></div>
      </form>

    </div>
  </div>


</div>